@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Noto+Sans+Arabic:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
}

.container{
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    width: 400px;
}
.container h1{
    text-align: center;
    margin-bottom: 20px;
    color: #20b2aa;
    font-size: 40px;
}
.container ul{
    list-style: none;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 20px;
    line-height: 30px;
}
.container ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
}
.container ul li:last-child{
    border-bottom: none;
}
.container ul li .delete-btn{
    cursor: pointer;
    color: red;
    font-weight: bold;
    padding: 3px 5px;
    border: 1px solid red;
    border-radius: 5px;
    transition: all 0.3s ease;

}
.container ul li .delete-btn:hover{
    background: red;
    color: #fff;
}
.add-task{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.add-task input[type="text"]{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}
.add-task button{
    padding: 10px 15px;
    border: none;
    background: #20b2aa;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
}
.container button:hover{
    background: #1e90ff;
}
.add-task button:active{
    transform: scale(0.98);
}
.add-task input[type="text"]:focus{
    border-color: #20b2aa;
}
.container input[type="search"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}
.container input[type="search"]:focus{
    border-color: #20b2aa;
}

.hide{
    text-align: center;
    margin: 10px 0px;
    display: none;
}